<!DOCTYPE html>
<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="converter">

        <header class="converter-header">
            <h1 class="converter-title">Unit Converter</h1>
        </header>

        <div class="converter-nav">
            <a href="{{ url_for('length') }}" class="converter-btn">Length</a>
            <a href="{{ url_for('weight') }}" class="converter-btn">Weight</a>
            <a href="{{ url_for('temperature') }}" class="converter-btn">Temperature</a>
        </div>
        <form method="POST">
            <div class="input-group">
                <label class="input-label">Enter the {%block value%}{%endblock%} to convert</label>
                <input class="input-field" type="number" step="any" name="value"
                    value="{{ value if value is not none else '' }}" {% if input_disabled %} disabled {% endif %} {% if
                    input_min is not none %} min="{{ input_min }}" {% endif %} {% if not input_disabled %} required {%
                    endif %}>
            </div>

            <div class="input-group">
                <label class="input-label">Convert from</label>

                {% block metric_from %}
                <select class="input-select" disabled>
                    <option selected>Select a category first</option>
                </select>
                {% endblock %}
            </div>

            <div class="input-group">
                <label class="input-label">Convert to</label>

                {% block metric_to %}
                <select class="input-select" disabled>
                    <option selected>Select a category first</option>
                </select>
                {% endblock %}
            </div>

            <div class="action">

                {% if error %}
                <p class="error-message">{{ error }}</p>
                {% endif %}

                <button class="convert-btn" type="submit" {% if input_disabled %}disabled{% endif %}>
                    Convert
                </button>
            </div>
        </form>


    </div>

</body>

</html>