<!DOCTYPE html>
<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="style.css">
</head>
<div class="converter">

    <header class="converter-header">
        <h1 class="converter-title">Unit Converter</h1>
    </header>

    <div class="converter-nav">
        <a href="{{ url_for('length') }}" class="converter-btn">Length</a>
        <a href="{{ url_for('weight') }}" class="converter-btn">Weight</a>
        <a href="{{ url_for('temperature') }}" class="converter-btn">Temperature</a>
    </div>
    <form method="POST">
        <div class="input-group">
            <label class="input-label">Enter the {%block value%}{%endblock%} to convert</label>
            <input class="input-field" type="number" step="any" name="value">
        </div>

        <div class="input-group">
            <label class="input-label">Convert from</label>
            {%block metric_from%}{%endblock%}
        </div>

        <div class="input-group">
            <label class="input-label">Convert to</label>
            {%block metric_to%}{%endblock%}
        </div>

        <div class="action">
            <button class="convert-btn">Convert</button>
        </div>
    </form>


</div>

</html>