<!DOCTYPE html>
<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="style.css">
</head>
<div class="converter">

    <header class="converter-header">
        <h1 class="converter-title">Unit Converter</h1>
    </header>

    <div class="converter-nav">
        <button class="converter-btn">Length</button>
        <button class="converter-btn">Weight</button>
        <button class="converter-btn">Temperature</button>
    </div>

    <div class="input-group">
        <label class="input-label">Enter a value</label>
        <input class="input-field" type="text">
    </div>

    <div class="input-group">
        <label class="input-label">Convert from</label>
        <input class="input-field" type="text">
    </div>

    <div class="input-group">
        <label class="input-label">Convert to</label>
        <input class="input-field" type="text">
    </div>

    <div class="action">
        <button class="convert-btn">Convert</button>
    </div>

</div>

</html>