{%extends "index.html" %}
{%block title%}Length Page{%endblock%}
{%block value%}Length{%endblock%}
{%block metric_from%}
<select class="input-select" name="metric_from">
    <option value="km">Kilometer (km)</option>
    <option value="m">Meter (m)</option>
    <option value="cm">Centimeter (cm)</option>
    <option value="mm">Millimeter (mm)</option>
</select>
{%endblock%}
{%block metric_to%}
<select class="input-select" name="metric_to">
    <option value="km">Kilometer (km)</option>
    <option value="m">Meter (m)</option>
    <option value="cm">Centimeter (cm)</option>
    <option value="mm">Millimeter (mm)</option>
</select>
{%endblock%}
