{%extends "index.html" %}
{%block title%}Temperature Page{%endblock%}
{%block value%}Temperature{%endblock%}
{%block metric_from%}
<select name="metric_from">
    <option value="c">Celsius (°C)</option>
    <option value="f">Fahrenheit (°F)</option>
    <option value="k">Kelvin (K)</option>
</select>
{%endblock%}
{%block metric_to%}
<select name="metric_to">
    <option value="c">Celsius (°C)</option>
    <option value="f">Fahrenheit (°F)</option>
    <option value="k">Kelvin (K)</option>
</select>
{%endblock%}